<%- include('partials/header') %>

    <body class="bg-light">

        <div class="container vh-100 d-flex flex-column justify-content-center align-items-center text-center">

            <div class="mb-4">
                <h1 class="mb-3">Welcome to Library Management System</h1>
                <p class="text-muted">Manage books, users, and borrow requests with ease!</p>
            </div>

            <div class="d-flex gap-3">
                <a href="/users/login" class="btn btn-primary btn-lg">Login</a>
                <a href="/users/new" class="btn btn-primary btn-lg">Register</a>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    </body>
    <%- include('partials/footer') %>