:root {
    --primary-color: #0040ca;
    --text-color: #ffffff;
    --landing-page-text-color: #666;
    --navbar-brand-color: #c7fa10;
    --background-image: url('/Content/imgs/img5.avif');
    --font-family: "Zen Dots", sans-serif;
}

a {
    text-decoration: none;
}

.landing-page-title {
    color: var(--landing-page-text-color) !important;
}

html,
body {
    height: 100% !important;
    background-image: var(--background-image);
    background-size: auto;
    color: var(--text-color) !important;
    font-family: var(--font-family) !important;
}

.navbar {
    background-color: var(--primary-color) !important;
}

.navbar .navbar-nav .nav-link,
.navbar-toggler-icon {
    color: var(--text-color) !important;
}

.navbar-brand {
    color: var(--navbar-brand-color) !important;
    font-size: xx-large;
    font-family: "Zen Dots", serif;
}

.navbar-toggler {
    border-color: var(--text-color) !important;
}

footer {
    background: var(--primary-color) !important;
    color: var(--text-color) !important;
    padding: 0.5rem 0 !important;
    text-align: center !important;
    width: 100% !important;
    position: relative !important;
}

.form-inline .form-label {
    min-width: 80px;
}

.form-inline .form-control {
    flex-grow: 1;
    margin-left: 10px;
}

.Img_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.item {
    width: 200px;
    height: 350px;
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.book-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 5px;
    background-color: #f4f4f4;
}

.item h5 {
    min-height: 40px;
    font-weight: bold;
    flex-grow: 1;
}

.item p {
    min-height: 20px;
    color: #666;
}

.borrow-button {
    width: 100%;
}