:root {
    --primary-color: #0040ca;
    --text-color: #ffffff;
    --navbar-brand-color: #c7fa10;
    --background-image: url('https://images.unsplash.com/photo-1551601651-2a8555f1a136?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    --font-family: "Zen Dots", sans-serif;
}

html,
body {
    height: 100% !important;
    background-image: var(--background-image);
    color: var(--text-color) !important;
    font-family: var(--font-family) !important;
}

.navbar {
    background-color: var(--primary-color) !important;
}

.navbar .navbar-nav .nav-link {
    color: var(--text-color) !important;
}

.navbar-brand {
    color: var(--navbar-brand-color) !important;
    font-size: xx-large;
    font-family: "Zen Dots", serif;
}

.navbar-toggler-icon {
    background-color: var(--text-color) !important;
}

.navbar-toggler {
    border-color: var(--text-color) !important;
}

footer {
    background: var(--primary-color) !important;
    color: var(--text-color) !important;
    padding: 0.5rem 0 !important;
    text-align: center !important;
    width: 100% !important;
    position: relative !important;
}

.form-inline .form-label {
    min-width: 80px;
}

.form-inline .form-control {
    flex-grow: 1;
    margin-left: 10px;
}

.Img_container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item {
    margin: 10px 0;
}

.item img {
    width: 350px;
    padding: 5%;
    height: 300px;
}